/* * {
    border: 1px solid red;
} */
.singlePost {
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10vh 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 80vh;
}
.singlePostWrapper {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.singlePostImg {
    width: 100%;
    height: 65vh;
    border-radius: 5px;
    object-fit: contain;
}

.singlePostTitleBox {
    margin: 5px;
    font-size: 24px;
}

.singlePostTitle {
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
}

.singlePostEdit {
    float: right;
    font-size: 16px;
    border: 1px solid teal;
    width: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.singlePostIcon {
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: teal;
}

.singlePostIcon:last-child {
    color: tomato;
}

.singlePostInfo {
    margin: 10px  10px 20px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: teal;
}

.singlePostDesc {
    color: #000;
    font-size: 18px;
    padding: 10px;
    line-height: 25px;
}

.singlePostTitleInput {
    text-align: center;
    margin: 10px;
    font-size: 28px;
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.singlePostDescInput {
    color: #000;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    border: none;
}

.updateMode {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 0;
}

.updateButton {
    margin: 10px;
    padding: 10px;
    border: 1px solid teal;
    border-radius: 5px;
    color: #242424;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    right: 0;
}

@media only screen and (max-width: 480px) {
    .singlePostWrapper  {
        padding: 20px;
        margin: 0;
    }

    .singlePostWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .singlePostImg {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
    }

    .singlePostTitle {
        margin: 0px;
        font-size: 15px;
    }

    .singlePostInfo {
        font-size: 13px;
    }

    .singlePostDesc {
        color: #000;
        font-size: 15px;
        padding: 10px;
        line-height: 25px;
    }

    .singlePostTitleInput {
        font-size: 15px;
    }
}