.posts {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 80px 10px;
}

@media only screen and (max-width: 480px) {
    .posts {
        margin: 20px 0px;
        justify-content: center;
    }
}