.posts {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: flex-start;
}

@media only screen and (max-width: 756px) {
    .posts {
        justify-content: center;
    }
}