/* * {
    border: 1px solid red;
} */

.top {
    width: 100%;
    height: 60px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 100;
    border-bottom: 1px solid #ccc;
}

.topLeft,
.topRight {
    flex: 2;
    display: flex;
    align-items: center;
}
.topRight {
    justify-content: end;
}
.topLeft {
    justify-content: start;
}

.topCenter {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.topIcon {
    font-size: 20px;
    margin-left: 10px;
    color: #444;
    cursor: pointer;
}

.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.topList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.hamMenu {
    display: none;
}


@media only screen and (max-width: 480px) {
    .top {
        z-index: 100;
    }
    .topLeft,
    .topCenter,
    .topRight {
        flex: 1;
    }
    .topRight {
        justify-content: space-between;
        z-index: 100;
    }
    .hamMenu {
        display: block;
        font-size: 24px;
        color: #666;
        cursor: pointer;
        margin-right: 20px;
        right: 0;
        z-index: 100;
    }
    
    .topImg {
        font-size: 20px;
        margin-left: 20px;
        color: #444;
        cursor: pointer;
    }
    
    .topCenter {
        display: none;
        position: absolute;
        height: 50vh;
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        top: 0;
        background-color: rgba(255, 255, 255, 0.762);
        /* menu transition */
        transition: all 400ms ease-in;
    }

    .show {
        display: flex;
        transition: all 400ms ease-in;
    }

    .topLeft {
        flex: none;
        margin-top: 45px;
    }

    .topListItem {
        text-align: center;
        margin: 0;
        margin-top: 25px;
        height: 100%;
    }

    .topCenter > .topList {
        flex-direction: column;
    }

    .topRight > .topList > li {
        margin: 0 10px;
        text-align: center;

    }
}