.settings {
    display: flex;
    font-family: Arial, sans-serif;
    padding: 60px 10px;
}

.settingsWrapper {
    flex: 9;
    padding: 20px;
}

.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.settingsUpdateTitle {
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    text-align: center;
    border: 1px solid teal;
    margin: 5px;
}

.settingsDeleteTitle {
    font-size: 13px;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

.settingsForm {
    display: flex;
    flex-direction: column;
}

.settingsPP {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settingsPP > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid teal;
}

.settingsPPIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 24px;
    border-radius: 50%;
    border: 1px solid teal;
    color: #242424;
    cursor: pointer;
    margin-left: 10px;
}

.settingsForm > label {
    font-size: 20px;
    margin-top: 15px;
}

.settingsForm > input {
    color: gray;
    margin: 10px 0;
    height: 40px;
    border: none;
    border: 1px solid teal;
    padding: 10px;
    outline: none;
    width: 70vw;
    border-radius: 5px;
}

.settingsSubmit {
    width: 150px;
    align-items: flex-end;
    border: none;
    border: 2px solid teal;
    color: #242424;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s ease;
}

.settingsSubmit:hover {
    background-color: teal;
    color: #fff;
    transition: all 0.5s ease;
}