.sidebar {
    height: 100%;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * {
    border: 1px solid red;
} */
.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}   

.sidebarImg {
    width: 35vw;
    height: 60vh;
    object-fit: cover;
}

.sidebarTitle {
    padding: 10px;
    width: 80%;
    /* border-bottom: 1px solid #a7a4a4; */
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarItem > img {
    margin-top: 15px;
    object-fit: cover;
    width: 100vw;
    height: 60vh;

}

.sidebarItem > p {
    padding: 30px;
    margin-top: 10px;
    width: 80%;
    border-bottom: 1px solid #a7a4a4;
    border-top: 1px solid #a7a4a4;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebarList {
    list-style: none;
    margin-bottom: 30px;
}

.sidebarListItem {
    display: inline-block;
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon {
    margin-left: 10px;
    cursor: pointer;
}
.sidebarSocial > a {
    color: teal;
    text-decoration: none;
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        flex-direction: column;
        padding: 10vh 0;
    }
    .sidebarItem {
        width: 100%;
    }
    .sidebarImg {
        width: 95%;
        height: 100%;
    }
    .sidebarItem > p {
        padding: 30px;
        width: 100%;
    }
}
